/* --------- MESH FONTS --------- */
@font-face {
    font-family: meshFontThin;
    src: url(../fonts/roboto/Roboto-Thin.woff);
}
@font-face {
    font-family: meshFontLight;
    src: url(../fonts/roboto/Roboto-Light.woff);
}
@font-face {
    font-family: meshFontRegular;
    src: url(../fonts/roboto/Roboto-Regular.woff);
}
@font-face {
    font-family: meshFontMedium;
    src: url(../fonts/roboto/Roboto-Medium.woff);
}
@font-face {
    font-family: meshFontBold;
    src: url(../fonts/roboto/Roboto-Bold.woff);
}

/* --------- GLOBAL STYLE CHOICES ---------- */
body {
	font-family: meshFontRegular;
	height: 100%; 
	width: 100%; 
	position: absolute;
	margin: 0;
}

/* --------- MISC ---------- */
.mobile-divider hr {
	margin: auto;
    width: 80%;
    border: none;
    height: 1px;
    color: #D8D8D8; /* old IE */
    background-color: #D8D8D8; /* Modern Browsers */
   	margin-top: 15px;
}
@media only screen and (min-width: 600px) {
    .mobile-divider hr {
        display: none;
    }
}

/* --------- NAV BAR --------- */
nav {
	font-family: meshFontRegular;
    color: #525252;
    background-color: #FFFFFF;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.12);
}
@media only screen and (max-width: 993px) {
    nav {
        display: none;
    }
}
.nav-wrapper {
	margin-left: 35px;
	margin-right: 25px;
	margin-top: 5px;
}
nav img {
	margin-right: 10px;
	transform: translateY(10px);
	height: 40px;
}
nav .brand-logo {
	font-size: 25px;
	color: #525252;
}
nav ul li {
	padding-left: 10px;
	padding-right: 10px;
}
nav ul a {
	font-family: meshFontLight;
	color: #525252;
	text-transform: uppercase;
}
nav ul a:hover {
	color: #FB6253;
	background-color: #FFFFFF;
}
@media only screen and (min-width: 993px) {
    .slide-out {
        display: none;
    }
}
.slide-out {
	padding: 10px;
}
.slide-out a {
	padding-left: 10px;
    color: #FB6253;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.side-nav a {
	color: #525252;
    text-align: center;
    font-family: meshFontLight;
    text-transform: uppercase;
}
.side-nav a:hover {
	color: #FB6253;
	transition: all 0.2s;
}
.material-icons {
    font-size: 35px;
}
.side-nav {
    width: 250px;
}

/* --------- SECTION ONE --------- */
.main-jumbotron {
    display: flex;
    height: 90%;
    width: 100%;
}
@media only screen and (min-width: 1100px) {
    .main-jumbotron {
        height: 100%;
    }
}
@media only screen and (max-width: 993px) {
    .main-jumbotron {
        height: 93%;
    }
}
.focal-point {
	display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
@media only screen and (min-width: 1100px) {
    .focal-point{
        margin-top: 13%;
    }
}
.center-logo {
	text-align: center;
}
.focal-img {
	display: inline-block;
}
.focal-text {
	display: inline-block;
	line-height: 150px;
	vertical-align: top;
	font-size: 30px;
	color: #525252;
	margin-left: 20px;
}
@media only screen and (min-width: 1500px) {
    .focal-text {
        font-size: 60px;
        transform: translateY(33px);
    }
}
.focal-point img {
	height: 150px;
}
@media only screen and (min-width: 1500px) {
    .focal-point img {
		height: 220px;
	}
}
.focal-text span {
	font-family: meshFontMedium;
}
.focal-slogan {
	margin-top: 40px;
}
.focal-slogan h4 {
	text-align: center;
	font-size: 37px;
	padding-left: 15px;
	padding-right: 15px;
	color: #525252;
}
@media only screen and (min-width: 1500px) {
    .focal-slogan h4 {
        font-size: 45px;
    }
}
.focal-slogan p {
	font-family: meshFontLight;
	text-align: center;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
	color: #525252;
}
@media only screen and (min-width: 1500px) {
    .focal-slogan p {
        font-size: 22px;
    }
}
.down-arrow {
	text-align: center;
	margin-top: 50px;
}

/* --------- BOUNCE EFFECT ON DOWN ARROW --------- */
.arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-top: 50px;
  width: 33px;
  height: 34px;
  cursor: pointer;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.arrow img {
	height: 30px;
}

/* --------- SECTION TWO --------- */
.section-two {
	display: flex;
	position: relative;
	margin: auto;
	width: 100%;
	background-color: #FFFFFF;
	padding: 20px;
	max-width: 1000px;
	font-family: meshFontLight;
	color: #525252;
	
}
@media only screen and (min-width: 1500px) {
    .section-two {
        max-width: 1422px;
    }
}
@media only screen and (min-width: 1500px) {
    .category-description {
        padding-right: 60px; 
    }
}
.section-two .categories {
	margin-top: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	
}
@media only screen and (max-width: 600px) {
    .categories {
    	flex-direction: row;
    }
}
.category {
	flex: 1;
}
.section-two .category-content {
	flex: 5;
	padding-right: 50px;
}
.section-two .category-img-wrapper {
	flex: 7;
}
@media only screen and (max-width: 600px) {
    .category-content {
    	margin-top: 15px;
        margin-bottom: 35px;
        padding-left: 10.5px;
    }
}
/* Change this when flex comes */
.section-two .categories .category {
	opacity: .7;
	cursor: pointer;
	transition: all .5s;
	transform: scale(.6);
}
@media only screen and (max-width: 600px) {
    .section-two .categories {
        display: flex;
    }
}
@media only screen and (max-width: 600px) {
    .section-two .categories div {
        flex: 1 1 0;
        text-align: center;
        width: 100%;
    }
}
@media only screen and (max-width: 330px) {
    .section-two .categories div {
        width: 16.6%;
    }
}
.section-two .categories .category:hover,
    .section-two .categories .category.active {
        transform: scale(.9);
        opacity: 1;
        cursor: pointer;
    }
.section-two hr {
    border: none;
    height: 3px;
    width: 80px;
    color: #F38C00; /* old IE */
    background-color: #F38C00; /* Modern Browsers */
}
.section-two .category-img {
	display: block;
	margin: auto;
	width: 100%; 
	position: relative;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

/* Animation for section two image slide in */
.active-img {
	margin-left: 50;
	animation: slideIn .5s;
	-webkit-animation: slideIn .5s;
}
@keyframes slideIn {
	from {
		opacity: 0;
		margin-left: 50px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

.section-two .learn-more-link a {
	text-transform: uppercase;
	color: #F38C00;
}
.section-two .fa-angle-right {
	/*color: #F38C00;*/
	font-size: 24px;
	padding-left: 15px;
	transform: translateY(2px);
}
.learn-more-link a:hover .fa-angle-right {
    margin-left: 7px;
    transition: all 0.5s;
}
.learn-more-link a:not(:hover) .fa-angle-right {
    margin-left: -7px;
    transition: all 0.5s;
}

/* Prevents Mobile Safari from bumping up font sizes in landscape */
@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

/* --------- SECTION THREE --------- */
.section-three {
	display: flex;
	font-family: meshFontLight;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 80px;
}
@media only screen and (min-width: 1500px) {
    .section-three {
        max-width: 1422px;
    }
}
.section-three hr {
    border: none;
    height: 3px;
    width: 80px;
    color: #0085CC; /* old IE */
    background-color: #0085CC; /* Modern Browsers */
}
.section-three .fa-angle-right {
	color: #0085CC;
	font-size: 24px;
	padding-left: 15px;
	transform: translateY(2px);
}
.section-three .learn-more-link a {
	text-transform: uppercase;
	color: #0085CC;
}
.section-three img {
	display: block;
	margin: auto;
	width: 100%; 
	position: relative;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.section-three-description {
	margin-bottom: 30px;
    padding-left: 20px;
}

/* --------- SECTION FOUR --------- */
.section-four {
	display: flex;
	font-family: meshFontLight;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 80px;
}
@media only screen and (min-width: 1500px) {
    .section-four {
        max-width: 1422px;
    }
}
.section-four hr {
    border: none;
    height: 3px;
    width: 80px;
    color: #F38C00; /* old IE */
    background-color: #F38C00; /* Modern Browsers */
}
.section-four .fa-angle-right {
	color: #F38C00;
	font-size: 24px;
	padding-left: 15px;
	transform: translateY(2px);
}
.section-four .learn-more-link a {
	text-transform: uppercase;
	color: #F38C00;
}
.section-four img {
	display: block;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%; 
	position: relative;
}

/* --------- SECTION FIVE (Testimonials) --------- */
.section-five {
	display: block;
	margin: auto;
	max-width: 1000px;
	padding: 20px;
	margin-top: 55px;
	margin-bottom: 75px;
}
@media only screen and (min-width: 1500px) {
    .section-five {
        max-width: 1422px;
    }
}
.section-five h4 {
	font-family: meshFontLight;
	margin-bottom: 30px;
}
.section-five .testimonial-heading p {
	font-family: meshFontRegular;
	max-width: 600px;
	padding: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.testimonial-heading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 15px;
}
.section-five hr {
    border: none;
    height: 3px;
    width: 80px;
    color: #0085CC; /* old IE */
    background-color: #0085CC; /* Modern Browsers */
}
.card-panel img {
	border-radius: 50%;
	width: 100%;
}
.card-panel p {
	margin-top: 0px;
	margin-bottom: 3px;
}
.testimonial-statement-1 {
	padding-left: 15px;
	border-left: solid 3px #FFC200;
}
.testimonial-statement-2 {
	padding-left: 15px;
	border-left: solid 3px #FB6253;
}
.testimonial-statement-3 {
	padding-left: 15px;
	border-left: solid 3px #3ABF67;
}

/* --------- SECTION SIX --------- */
.section-six {
	display: flex;
	font-family: meshFontLight;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
}
@media only screen and (min-width: 1500px) {
    .section-six {
        max-width: 1422px;
    }
}
@media only screen and (max-width: 600px) {
    .section-six {
        margin-bottom: 0px;
    }
}
.section-six h4 {
        padding-right: 20px;
}
.section-six p {
        padding-right: 20px;
}
.description-section-six {
    margin-bottom: 30px;
    padding-left: 20px;
}
.section-six hr {
    border: none;
    height: 3px;
    width: 80px;
    color: #0085CC; /* old IE */
    background-color: #0085CC; /* Modern Browsers */
}
.section-six .fa-angle-right {
	color: #0085CC;
	font-size: 24px;
	padding-left: 15px;
	transform: translateY(2px);
}
.section-six .learn-more-link a {
	text-transform: uppercase;
	color: #0085CC;
}

/* --------- CONTACT FORM -------- */
.contact-form h4 {
	margin-left: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.contact-form button {
	margin-left: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #FB6253;
}
.contact-form button:hover {
	background-color: #F87D71;
}
/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #FB6253;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #FB6253;
   box-shadow: 0 1px 0 0 #FB6253;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 .input-field input[type=email]:focus + label {
   color: #FB6253;
 }
 .input-field input[type=email]:focus {
   border-bottom: 1px solid #FB6253;
   box-shadow: 0 1px 0 0 #FB6253;
 }
 /* valid color */
 .input-field input[type=email].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=email].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
}
textarea.materialize-textarea:focus:not([readonly]) {
	color: #FB6253;
	border-bottom: 1px solid #FB6253;
    box-shadow: 0 1px 0 0 #FB6253;
}
.input-field .prefix {
	font-size: 22px;
	transform: translateY(10px);
}
/* --------- END OF SECTION SIX --------- */
 
/* --------- NEXT PAGE NAVIGATION SECTION --------- */
.next-page-background {
	background-color: #F7F7F7;
	padding-bottom: 40px;
	padding-top: 30px;
	margin-top: 40px;
	margin-bottom: -12px;
	width: 100%;
	overflow: hidden;
}
.next-page-section {
	width: 300px;
	float: right;
	margin-right: 50px;
}
@media only screen and (max-width: 600px) {
    .next-page-section {
    	margin: auto;
    	display: block;
    	width: 100%;
    	text-align: center;
    }
}
.next-page-section a {
	font-family: meshFontRegular;
	color: #525252;
	margin-top: 50px;
	margin-bottom: 50px;
}
.next-page-section .fa-angle-right {
	transform: translateY(4px);
	font-size: 52px;
	color: #525252;
	padding-left: 15px;
}
.next-page-section hr {
    border: none;
    height: 2px;
    width: 80px;
    color: #525252; /* old IE */
    background-color: #525252; /* Modern Browsers */
}
.next-page-section a:hover .fa-angle-right {
    margin-left: 7px;
    transition: all 0.5s;
}
.next-page-section a:not(:hover) .fa-angle-right {
    margin-left: -7px;
    transition: all 0.5s;
}

/* --------- FOOTER --------- */
.footer {
	color: #525252;
}
.footer img {
	width: 100%;
	height: 5px;
}
.footer-content-container {
	font-family: meshFontMedium;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer-content-container div {
	margin-top: 20px;
}
.footer-content-container li {
	font-family: meshFontLight;
}
.footer h6 {
	font-size: 18px;
}
.footer a {
	color: #525252;
}
.footer a:hover {
	text-decoration: underline;
}
.copyright-section {
	font-family: meshFontLight;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding-left: 23px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.copyright-background {
	background-color: #F7F7F7;
}





